<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otc.application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/application_logo"
        android:label="@string/OTC"
        android:roundIcon="@drawable/application_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.ActivityHome"
            android:label="@string/title_activity_home"/>
        <activity android:name=".activity.ActivityHomeVideoWatchPembelajaran"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityTermsAndCondition" />
        <activity android:name=".activity.ActivityHomeVideoPembelajaran" />
        <activity android:name=".activity.ActivitySignUp" />
        <activity android:name=".activity.ActivitySignIn" />
        <activity android:name=".activity.ActivityWelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>